<!DOCTYPE html>
<html>
<head>

    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        @Html.ActionLink("Booking", "Index", "Home", null, new { @class = "navbar-brand" })
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Hotels","List","Hotel")</li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
