 
@{
    ViewBag.Title = "Index";
}
<div class="row">
    @using (Html.BeginForm("List", "Hotel", FormMethod.Post, new { page = 1})){
        @Html.TextBox("search")
        <input type="submit" value="Search"/>
    }
</div>
<h2>Najnowsze hotele:</h2>
@Html.Action("LatestHotels","Hotel")
<div class="row">
    <div class="col-md-6">
        <h2>Najpopularniejsze miasta:</h2>
        @Html.Action("MostPopularCities", "City")
    </div>
    <div class="col-md-6">  
        <div class="row">
            <h2>Najnowsze pokoje:</h2>
            @Html.Action("LatestRooms", "Room")
        </div>
    </div>

</div>
