
@{
    ViewBag.Title = "Index";
}
<h2>Najnowsze hotele:</h2>
@Html.Action("LatestHotels","Hotel")
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="row">
            <h2>Najnowsze pokoje:</h2>
            @Html.Action("LatestRooms", "Room")
        </div>
    </div>

</div>
