@using BookMe.WebUI.HtmlHelpers
@model BookMe.WebUI.Models.HotelListViewModel

@{
    ViewBag.Title = "Hotels";
}
@foreach (var hotel in Model.Hotels){
    <h3>@Html.ActionLink(@hotel.Name,"Hotel","Hotel", new {id = @hotel.HotelID}, null)</h3>
}
<div>
    @Html.PageLinks(Model.PagingInfo,x => Url.Action("List","Hotel",
    new {page = x, search = Model.SearchParameter, startDate = Model.ChoosenArrival,
                endDate = Model.ChoosenDeparture, kidsInRoom = Model.KidsCapacity, adultsInRoom = Model.AdultsCapacity},null))
</div>
